*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    background-color:greenyellow;
    height: 100px;
    box-shadow:3px 10px 40px 10px rgb(255, 81, 81);
h1{
    margin-top: 30px;
    text-align: center;
    color:red;
}
.checkbox{
     appearance: none;
    position:absolute;
    top: 30px;
    right: 40px;
    background-color:rgb(255, 0, 0);
    height: 15px;
    width: 40px;
    border-radius: 30%;
    transition: 1s ease;
}
}
.checkbox::before{
    content: "##";
    color: white;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius : 50%;
    transition: 1s ease;

}
.checkbox:checked{
    appearance: none;
   position:absolute;
   top: 30px;
   right: 40px;
   background-color: rgb(153, 255, 0);
   height: 15px;
   width: 40px;
   border-radius: 30%;
   transition: 1s ease;
}
.checkbox:checked::before{
    content: "##";
    color: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    border-radius : 50%;
    position: relative;
    top: 0px;
    right: -25px;
    border-color: white;
    transition: 1s ease;
}
.md{
    display: flex;
    justify-content: center;
    align-items: center;
}
.store{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 400px;
    background-color: greenyellow;
    color: rgb(255, 0, 0);
    font-size: 20px;
}
.search{
    font-size: 30px;
    margin: 50px 0px 0px 10px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.imagewrape{
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image{
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
    transition: 0.7s ease-in;
}
.image:hover{
    transform: scale(1.07,1.07);
}
.btn{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 50px 200px 0px 200px;
}
.butt{
    background-color: greenyellow;
    color: red;
    font-size: larger;
    border-color: red;
}
.but{
    background-color: greenyellow;
    color: red;
    font-size: larger;
    border-color: red;
    margin: 0px 0px 0px 10px;
}
.i{
    height: 400px;
    width: 310px;
    background-color: white;
    background-attachment: fixed;
    margin: 5px 5px 5px 5px;
}
.tax{
    display: none;
    font-size: 100px;
}
.block{
    display: block;
}
.none{
    display: none;
}